body{
    background-image: url(../../images/bg-intro-desktop.png) ;
    background-color: hsl(0, 100%, 74%) ;
}


.container-main{
    display: grid;/**/
    grid-template-columns: 1fr 1fr; /**/
}